body {
  width: 100%;
  position: relative;
  background: #181818;
  font-family: 'roboto', sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 9;
  background: #000;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  color: #fff;
}

.options {
  display: flex;
  width: fit-content;
}

.nav-list {
  display: flex;
  margin: auto;
  list-style-type: none;
}

.nav-list a:hover {
  color: #c0c0c0;
}

.nav-list a {
  color: white;
  font-size: 15px;
  margin: 7px;
  text-decoration: none;
}

.right-nav {
  display: flex;
  margin: auto;
  list-style-type: none;
  width: fit-content;
}

.right-nav button {
  color: white;
  font-size: 15px;
  margin: 7px;
  text-decoration: none;
}

.logo {
  height: 25px;
  margin-right: 30px;
}

.btn {
  background: none;
  color: #fff;
  height: 35px;
  width: fit-content;
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
}

.user-btn {
  width: 43px;
  border-radius: 20%;
  margin: 0;
}

.join-box {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-itens: center;
  height: auto;
}

.hero {
  height: 90vh;
  display: flex;
  align-items: flex-end;
  padding: 20px 0 20px 5vw;
}

.main-hero {
  margin-top: 60px;
  margin-bottom: 50px;
}

.main {
  position: relative;
  width: 100%;
  padding: 20px 0 20px 5vw;
  color: #fff;
}

.header {
  color: #fff;
  background-image: url('https://lumiere-a.akamaihd.net/v1/images/avatar-banner-bra_bdbd9851.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
}

.play {
  background: white;
  color: #000;
  height: 35px;
  width: fit-content;
  padding: 0 25px 0 20px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

.play-icon {
  width: 30px;
  margin: auto;
}

.more-info {
  background: #a9a9a9;
  color: #fff;
  height: 35px;
  width: fit-content;
  padding: 0 25px 0 20px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

.heading {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 50px;
}

.info {
  width: 50%;
  font-size: 20px;
  margin-top: 10px;
}

.movie-list {
  width: 100%;
  height: 250px;
  margin-top: 40px;
  position: relative;
  //padding: 20px 0 20px 5vw;
}

.movie-category {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.movie-container,
.movie-trend {
  width: 100%;
  height: 250px;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: flex;
}

.movie-container::-webkit-scrollbar,
.movie-trend::-webkit-scrollbar {
  display: none;
}

.movie-category::-webkit-scrollbar {
  display: none;
}

.movie {
  flex: 0 0 auto;
  width: 24%;
  height: 200px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.movie:hover {
  width: 30vw;
  position: flex;
}

.movie img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.movie p {
  text-transform: capitalize;
  height: 20px;
  overflow: hidden;
}

.pre-btn,
.next-btn {
  position: absolute;
  height: 250px;
  top: 50%;
  transform: translateY(-40%);
  width: 2.5vw;
  background: rgba(24, 24, 24, 0.3);
  border: none;
  outline: none;
  opacity: 1;
}

.pre-btn:hover,
.next-btn:hover {
  width: 4vw;
  background: rgba(24, 24, 24, 0.7);
}

.pre-btn {
  left: -4vw;
}

.next-btn {
  right: 0;
}

.pre-btn img,
.next-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
